html{
	box-sizing: border-box;
}
body{
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-image: url(../img/background.jpg);
	font-family: 'Open Sans','helvetica',arial,sans-serif;
	
}
h1,h2,h3,h4,h5,h6{
	color: #333;
	font-weight: 300;
}
.container{
	width: 960px;
	margin: 0 auto;
	padding: 1px;
	
	
}
.main-header{
	background-image: url(../img/banner.jpg);
	text-align: center;
	margin-top: 100px;
	padding: 1px;
	
	font-size: 20;
	font-weight: 300;
	font-family: 'Open Sans','helvetica',arial,sans-serif;
	text-shadow: 0 1px rgba(0,0,0,0.3);
}
.main-header *{
	margin-top: 50px;
	margin-bottom: 50px;
}
.main-header-avatar{
	display: block;
	margin: 0 auto;
	margin-top: -70px;
	border: 3px solid white;
	
	border-radius: 999px;
	box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
	
}
.main-nav{
	background-color: #333;
}
.main-nav ul{
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}
.main-nav ul li{
	display: inline-block;
	margin: 20px 15px;
}
.main-nav ul li a{
	color: #fff;
	font-size: 1.0rem;
	font-weight: 300;
	text-decoration: none;
	text-transform: uppercase;
	
	
}
.main-nv ul li a:hover{
	text-decoration: underline;
}
.info-section{
	background-color: #fff;
}
section header{
	text-align: center;
	padding: 50px;
}

section header h2{
	border-bottom: 3px solid rgb(200,200,200);
	display: inline;
}

section ul{
	list-style: none;
}
section ul.whatido__skill-list{
	display: block;
	margin: 0 auto;
	text-align: center;
	padding: 0;
	letter-spacing: -4px;
}
section ul li.whatido__skill{
	display: inline-block;
	vertical-align: top;
	width: 30%;
	letter-spacing: normal;
	word-spacing: normal;
	zoom: 1;
	
}
.education-experience__list{
	overflow: hidden;
}
.education-experience__list li{
	margin: 20px auto;
	overflow: hidden;
}
.education-experience-content{
	display: inline-block;
	vertical-align: top;
	width: 60%;
}
.education-experience__list__description img{
	display: inline-block;
	padding: 0 20px;
	width: 20%;
}

section.photos{
	overflow: hidden;
}
section .photos__list{
	width: 100%;
	padding: 0;
	box-sizing: border-box;
}
section .photos__list li{
	box-sizing: inherit;
	width: 25%;
	float: left;
	padding: 10px;
	background-color: #fff;
	
}
section .photos__list li img{
	width: 100%;
}
section.get-in-touch{
	clear: both;
}
.get-in-touch header{
	padding:50px;
}
section .get-in-touch__list{
	margin: 0 auto;
	width: 100%;
	box-sizing: border-box;
}
section .get-in-touch__list li{
	box-sizing: inherit;
	display: inline-block;
	margin: 10px 10px;
	text-align: center;
	width: 20%;
}
.contact form .form-area .input{
	display: block;
	position: relative;
	margin: 0 auto;
}
.contact input,
.contact textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
}

.contact button {
  border: none;
  border-radius: 9999px;

  background: #ffd524;

  cursor: pointer;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
  color: #fff;
  box-shadow: 0 3px 0 #daae1d;
}
.contact form .form-area{
	width: 300px;
	margin: 0 auto;
}
.contact form .form-area .outside{
	position: absolute;
	right: 100%;
	padding-right: 10px;
}
.contact form .form-area button{
	width: 100%;
	margin-top: 10px;
}
